<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Motor Land / Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="~/Public/assets/css/master.css">
    <!-- SWITCHER-->
    <link href="~/Public/assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css">
    <link href="~/Public/assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1">
    <link href="~/Public/assets/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2">
    <link href="~/Public/assets/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3">
    <link href="~/Public/assets/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4">
    <link rel="stylesheet" href="~/Public/assets/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Public/assets/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>

<body>


    @RenderBody()

    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="~/Public/assets/libs/jquery-1.12.4.min.js"></script>
    <script src="~/Public/assets/libs/jquery-migrate-1.2.1.js"></script>
    <!-- Bootstrap-->
    <script src="~/Public/assets/libs/bootstrap/bootstrap.min.js"></script>
    <!-- User customization-->
    <script src="~/Public/assets/js/custom.js"></script>
    <!-- Headers scripts-->
    <script src="~/Public/assets/plugins/headers/slidebar.js"></script>
    <script src="~/Public/assets/plugins/headers/header.js"></script>
    <!-- Color scheme-->
    <script src="~/Public/assets/plugins/switcher/js/dmss.js"></script>
    <!-- Select customization & Color scheme-->
    <script src="~/Public/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Slider-->
    <script src="~/Public/assets/plugins/jquery.min.js"></script>
    <script src="~/Public/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Pop-up window-->
    <script src="~/Public/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Mail scripts-->
    <script src="~/Public/assets/plugins/jqBootstrapValidation.js"></script>
    <script src="~/Public/assets/plugins/contact_me.js"></script>
    <!-- Filter and sorting images-->
    <script src="~/Public/assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Public/assets/plugins/isotope/imagesLoaded.js"></script>
    <!-- Progress numbers-->
    <script src="~/Public/assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/Public/assets/plugins/rendro-easy-pie-chart/waypoints.min.js"></script>
    <!-- NoUiSlider-->
    <script src="~/Public/assets/plugins/noUiSlider/nouislider.min.js"></script>
    <script src="~/Public/assets/plugins/noUiSlider/wNumb.js"></script>
    <!-- Animations-->
    <script src="~/Public/assets/plugins/scrollreveal/scrollreveal.min.js"></script>
    <!-- Main slider-->
    <script src="~/Public/assets/plugins/slider-pro/jquery.sliderPro.min.js"></script>
    <!-- User map-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E"></script>
    <!-- Maps customization-->
    <script src="~/Public/assets/js/map-custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
